.main-news
  %h3 最新ニュース情報
  .main-news__content
    .main-news__content__range
      .main-news__content__range__title
        %h4 Next Week's Matchday Overview
      .main-news__content__range__date
        %h4 2020年1月20日
      .main-news__content__range__image
        = image_tag('news-image.png', class: 'news-image')
      .main-news__content__range__explain
        %p 来週は以下の勢力に分かれたMatchdayを開催予定です。・Home: インテルナツィオナーレ・Away: ミランまた、以下勢力に分かれたMatchdayはeFootball League対象です。・Home: セルティック・Away: モナコ・Home: ユヴェントス・Away: マンチェスター ユナイテッド・Home: シャルケ 04・Away: FC バルセロナ