.mypage{
  width: 500px;
  padding-top: 150px;
  margin: 0 auto;
  &__upinfo{
    position: relative;
    background-color: white;
    height: 600px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    &__background{
      .mypage-background{
        width: 500px;
        height: 250px;
        border-radius: 10px;
      }
    }
    &__user-icon{
      position: absolute;
      top: 205px;
      left: 10px;
      .icon-image{
        height: 100px;
        width: 100px;
        border-radius: 300px;
      }
    }
    &__user-name{
      position: absolute;
      top: 260px;
      left: 120px;
      color: black;
    }
    &__button{
      position: absolute;
      top: 260px;
      right: 10px;
      display: flex;
    }
    &__introduce{
      color: black;
      margin: 65px auto 10px;
      width: 450px;
      border: solid 1px gray;
      border-radius: 5px;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
      p{
        padding: 10px;
        font-size: 14px;
      }
    }
    &__amount{
      margin: 10px 25px;
      color: gray;
      display: flex;
      &__follow{
        display: flex;
        margin-right: 30px;
        p{
          margin-right: 5px;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
    &__join{
      margin: 40px 25px;
      h3{
        color: black;
        font-weight: bold;
        font-size: 14px;
      }
      ul{
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        .join-community-image{
          height: 50px;
          width: 50px;
          border-radius: 300px;
        }
      }
    }
  }
}